body {
  font-family: sans-serif;
  background-color: #cfd8dc;
  box-sizing: border-box;
}

.header {
  padding: 0px 20px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
 padding: 0px 20px;
 background-color: rebeccapurple;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  flex-basis: 200px;
}

.list-elements {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  background-color: green;
}

.toDay {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19);
  margin: 100px auto;
  width: 360px;
  padding: 25px;
  background-color: #fff;
}

.toDay input[type="text"]{
  background: #f4f4f4;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
  border: 1px solid #fff;
  transition: all 0.5s;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.complete {
  background: #b3ffcc;
}

.incomplete {
  background: #ffccb3;
}

.todos h5 span {
  height: 25px;
  width: 25px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 10px;
  transition: all 0.5s;
}

.todos h5:hover span {
  transition: all 0.5s;
}

.todos h5:hover span.complete {
  background: #66ff99;
}

.todos h5:hover span.incomplete {
  background: #ff9966;
}
.toDay h5{
  margin: 0px;
  margin-left: 10px;
 }

.redo-wrapper {
  flex: 0.025;
  background-color: silver;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.task-list-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 10px;
}

.task-wrapper {
  text-align: left;
  border-bottom-style: solid;
  border-width: thin;
}

.modal-title {
  background-color: cornflowerblue;
  padding: 10px;
}

.sidebar-element {
  background-color: rgb(177, 166, 216);
  font-size: 20px;
  padding: 5px;
}

.add-new {
  background-color: rgb(143, 141, 141);
  height: 50px;
  text-align: center;
}

.add-new p {
  padding: 15px;
}

.add-new-form {
  display: flex;
  flex-direction: column;
}
