body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  flex-direction: column;
  background-color: aliceblue;
}

.header-wrapper {
  flex: 0.1;
}

.content-wrapper {
  flex: 2;
  width: inherit;
  display: flex;
  flex-direction: row;
}

.side-content-wrapper {
  display: flex;
  flex-grow: 0.5;
  background-color: aqua;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.main-content-wrapper {
  flex-grow: 3;
  background-color: blueviolet;
}

.redo-wrapper {
  flex: 0.025;
  background-color: silver;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-list-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.task-wrapper {
  text-align: left;
}

ul {
  list-style-type: none;
}